* {
    margin: 1px;
    padding: 1px;
    justify-content: center;
    list-style-type: none;
    font-family: 'SF Pro','Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
    font-weight: 225;
    text-decoration: none;
}

.portfolio-app {
    text-align: center;
    background: black;
}

.header {
    background: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1 {
    text-decoration: none;
    font-size: 50px;
}

.nav {
    text-align: center;
    display: inline-flex;
    background: black;
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-item {
    padding: 20px;
}

.content-container {
    background: black;
    color: white;
    padding: 50px 50px 120px 50px;
    margin: 20px;
   
}

.footer {
    background: black;
    color: white;
    font-size: 25px;
    padding: 20px;
    margin-top: 30px;
}

.footer-name {
    display: inline-flex;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.project-card {
    background: black;
    color: white;
    padding: 20px;
    margin: 20px;
    border: 1px solid grey;
}

.project-image {
    max-width: 100%;
    height: auto;
}

.form-card {
    display: grid;
    text-align: center;
    justify-content: center;
    background: black;
    color: white;
    padding: 20px;
    margin: 20px;
    
}

.form-input {
    width: 400px;
    padding: 10px;
    margin: 10px;
}

.contactError {
    color: black;
    background-color: yellow;
    font-weight: bold;
}