* {
    margin: 5;
    padding: 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.portfolio-app {
    text-align: center;
    background: black;
}

.header {
    background: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}